.graph-base {
  /* position: relative; */
  width: 32rem;
  height: 32rem;
  border-left: var(--grey-dark) solid 4px;
  border-bottom: var(--grey-dark) solid 4px;
}

.graph-point {
  width: 16px;
  height: 16px;
  background-color: var(--grey-dark);
  border-radius: 16px;
  position: absolute;
  cursor: grab;
}

.dragging {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
