.graph-base {
  width: 32rem;
  height: 32rem;
  border-left: var(--grey-dark) solid 4px;
  border-bottom: var(--grey-dark) solid 4px;
}

.graph-info-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 0 4rem 0 4rem;
}

.graph-point {
  width: 16px;
  height: 16px;
  background-color: var(--grey-dark);
  border-radius: 16px;
  position: absolute;
  cursor: grab;
}

.graph-marker-x {
  width: 6px;
  height: 16px;
  background-color: var(--grey-dark);
  position: absolute;
}

.graph-marker-y {
  width: 16px;
  height: 6px;
  background-color: var(--grey-dark);
  position: absolute;
}

.dragging {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
