body,
#root {
  --neutral-white: #f0eee9;
  --grey-dark: #4f4e4a;
  --grey-mid: #8f8d86;
  --grey-light: #e3e0d5;
  --error: #bd3d2f;

  margin: 0 auto;
  min-height: 100vh;
  background-color: var(--neutral-white);
}

.content {
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
  align-items: center;
  color: var(--grey-dark);
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
